.form-create {
  width: 600px;
  height: 130px;
  margin: 0 auto;
  background: blanchedalmond;
  border-radius: 4px;
  position: relative;
}
.input-wrapper {
  padding: 8px;
  box-sizing: border-box;
}

.title-property {
  font-weight: bold;
  display: block;
}
.field-input {
  width: 100%;
  border-radius: 4px;
}
.btn-create {
  position: absolute;
  bottom: 10px;
  right: 30px;
}
