<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Edit Blog</h1>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form action="/edit" th:object="${blog}" method="post">
        <label>Title blog: <input th:field="*{title}"></label>
        <br>
        <label>Content blog: <input th:field="*{content}"></label>
        <br>
        <label>Date create blog: <input type="date" th:field="*{createdOn}"></label>
        <br>
        <label>Category blog
            <select th:field="*{category}">
                <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </label>
        <input type="submit" value="Edit">
    </form>
</body>
</html>