# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Codegym\Module4\ss1_Tong_quan_Spring_MVC\ThucHanh\ConvertMoney\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
