*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    margin: 8px;
}
.text-align-left{
    text-align: left !important;
}
.col-14{
    width: 14%;
}
.col-36{
    width: 36%;
}
.row-grey{
    background-color: #f5f5f5;
}
#header-survey{
    border-bottom: 1px dotted #ccc;
    margin: 8px;
}
#header-survey .sub-header{
    padding-top: 5px;
    margin-bottom: 15px;
    opacity: 0.8;
}
#form-main{
    margin: 6px 8px;
}
#form-main .field-select{
    width: 50%;
}
.sub-gender-other{
    padding-left: 18px;
}

#form-main ul li{
    margin: 10px 0;
    list-style: none;
}
#form-main .field-select{
    padding: 3px;
    margin: 6px 0;
    color: #333;
}
#form-main .row{
    padding: 2px ;
    color: #444;
    line-height: 1.5;
}
.sub-input-other{
    color: #444444;
    padding: 9px 0;
}
#form-main .cost-product{
    border-spacing: 5px;
}

.evaluate-form {
}
.evaluate-form table{
    width: 100%;
    text-align: center;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.evaluate-form table caption{
    padding: 8px 0px;
}
.evaluate-form td{
    font-size:90%;
    color:#565656;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 4px 0;

}
.evaluate-form th{
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 5px 0;
}
.submit-btn{
    padding: 1px 11px;
}
