<div class="container">
  <h1 class="fw-bold text-danger">Product Detail</h1>
  <button routerLink="" class="btn btn-success">Back to home</button>
  <div>
    <span class="property-text">ID: </span>
    <span>{{product.id}}</span>
  </div>
  <div>
    <span class="property-text">Name: </span>
    <span>{{product.name}}</span>
  </div>
  <div>
    <span class="property-text">Price: </span>
    <span>{{product.price}}</span>
  </div>
  <div>
    <span class="property-text">Description: </span>
    <span>{{product.description}}</span>
  </div>

</div>
