<div class="list-group border border-primary h-100">
  <a class="list-group-item" routerLink="/" routerLinkActive="active">Home</a>
  <a class="list-group-item" routerLink="/employees" routerLinkActive="active">Quản lý nhân viên</a>
  <a class="list-group-item" routerLink="/facilities" routerLinkActive="active">Quản lý dịch vụ</a>
  <a class="list-group-item" routerLink="/customers" routerLinkActive="active">Quản lý khách hàng</a>
  <a class="list-group-item" routerLink="/contacts" routerLinkActive="active">Quản lý hợp đồng</a>
  <a class="list-group-item" routerLink="/contacts-detail" routerLinkActive="active">Quản lý HĐ chi tiết</a>
</div>
