* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 60px;
    background-color: rgb(216, 216, 216);
    position: relative;
}
header .icon {
    position: absolute;
    width: 60px;
}
header .icon-face {
    margin: 0 10px;
}

header input {
    width: 200px;
    height: 32px;
    border-radius: 12px;
    margin-left: 90px;
    margin-top: 16px;
}

header .icon-house {
    left: 350px;
}

header .icon-people {
    margin-left: 200px;
}

header .icon-video {
    margin-left: 320px;
}
header .icon-group {
    margin-left: 440px;
}
header .icon-game {
    margin-left: 560px;
}
header .avatar {
    width: 60px;
    height: 60px;
    margin-left: 830px;
    border-radius: 50%;
}
header .icon-menu {
    margin-left: 920px;
    border-radius: 50%;
}
header .icon-message {
    margin-left: 1010px;
}
header .icon-notice {
    margin-left: 1100px;
}
header .icon-account {
    margin-left: 1185px;
}
#main {
    height: 600px;
    text-align: center;
    line-height: 600px;
}
aside {
    background: red;
    width: 20%;
    float: left;
    height: 600px;
}
#content {
    background: green;
    width: 60%;
    float: left;
    height: 600px;
}
#right {
    background: lightcoral;
    width: 20%;
    float: left;
    height: 600px;
}
footer {
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
    background: indigo;
    position: fixed;
    bottom: 0;
}