# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Codegym\Module3\ss9_Tong_quan_ung_dung_web\ThucHanh\Tao_web_dang_nhap_hien_thi_loi_chao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
